//
// counter.scss
//
.counter-box {
    border-color: $gray-600 !important;
    .counter-icon {
        i {
            font-size: 45px;
        }
    }
    .counter-head {
        font-size: 16px;
        font-weight: 500;
    }
    .counter-value {
        font-size: 36px;
    }
}