//
// footer.scss
//
.footer {
    padding: 60px 0;
    position: relative;
    color: $gray-500;
    font-size: 15px;
    &.footer-bar {
        padding: 20px 0;
    }
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $gray-700;
}